.news-wrapper{
    .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .news-item{
            display: flex;
            flex-direction: row;
            width: calc(50% - 45px);
            margin-right: 90px;
            margin-bottom: 90px;
            cursor: pointer;
            &:nth-child(2n){
                margin-right: 0px;
            }
            .text-wrapper{
                cursor: default;
                display: flex;
                flex-direction: column;
                z-index: 1;
                width: calc(100% - 380px);
                .news-title{
                    margin-bottom: 15px;
                    h2{
                        @include subTitle;
                        padding-bottom: 5px;
                        color: $black;
                        letter-spacing: 0.105em;
                    }
                    .line{
                        width: 130%;
                        height: 1px;
                        background: $black;
                    }
                }
                .news-text{
                    color: $grey;
                    transition-duration: 1s;
                }
                .data{
                    color: $greyD;
                    @include subTitle;
                    font-size: 9px;
                    line-height: 11px;
                    justify-self: end;
                    margin-top: auto;
                    letter-spacing: 0.105em;
                    transition-duration: 1s;
                }
            }
            .item-img{
                cursor: pointer;
                width: 380px;
                max-height: 270px;
                position: relative;
                transition-duration: 1s;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                a, .hover{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    cursor: pointer;
                    transition-duration: 1s;
                }

            }
            &:hover{
                .news-text{
                    color: $black;
                }
                .data{
                    color: $black;
                }
                a, .hover{
                    background: $black;
                    opacity: .5;
                }
            }
        }
    }

}

.news-item{
    cursor: pointer;
    .item-img{
        cursor: pointer;
        width: 380px;
        position: relative;
        transition-duration: 1s;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        a, .hover{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            cursor: pointer;
            background: $black;
            opacity: 0;
            transition-duration: 1s;
        }

    }
    &:hover{
        .news-text{
            color: $black;
        }
        .data{
            color: $black;
        }
        a, .hover{
            background: $black;
            opacity: .5;
        }
    }
}