<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="website designer">
    <meta name="keywords" content="designer website disign">
    <link rel="shortcut icon" href="favicon/favicon.ico" />
    <link rel="stylesheet" href="css/style.bundle.css" />
    <title>AltIdea Coming Soon</title>
</head>

<body>
    <div class="comingSoon notFound">
        <div class="logo">
            <img src="../../img/svg/logo.svg" alt="">
        </div>
        <ul class="lang-items">
            <li><a href="#">en</a></li>
            <li><a href="#">ua</a></li>
        </ul>
        <span>404</span>
        <p>
            Страница не найдена
        </p>
        <a href="index.html" class="form-btn">Перейти на главную</a>
        <ul class="social-wrapper">
            <li class="social-item"><a href="#"><img src="../../img/svg/facebook.svg" alt=""></a></li>
            <li class="social-item"><a href="#"><img src="../../img/svg/instagram.svg" alt=""></a></li>
        </ul>
    </div>
</body>

</html>