<% var data = {
  title: "About Us | ALTA IDEA",
  logo: ""
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="aboutUs">
    <div class="container">
        <div class="slider-for" id="sliderFor">
            <div class="slider-wrapper">
                <div class="item slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
                    <div class="slider-img">
                        <div class="img-title">
                        </div>
                        <div class="line"></div>
                        <div class="img-wrapper">
                            <img src="../../uploads/UliaBai.jpg" alt="">
                        </div>
                    </div>
                    <p class="slider-title">
                        Юлия Байдык
                    </p>
                    <p class="slider-text">
                        дизайнер интерьера
                    </p>
                </div>
                <div class="slider-content-wrapper">
                    <div class="slider-content">
                        <p class="slider-text">1По формированию позиции влечет за собой процесс внедрения и
                            модернизации.Черпая вдохновение из
                            ландшафта. Задача организации, в особенности же начало повседневной работы по формированию
                            позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта.
                            Задача
                            организации, в особенности же начало повседневной работы по формированию позиции влечет за
                            собой
                            процесс внедрения.</p>
                        <p class="slider-text">Черпая вдохновение из ландшафта. Задача организации, в особенности же
                            начало
                            повседневной работы
                            по формированию позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение
                            из
                            ландшафта. Задача организации, в особенности же начало повседневной работы по формированию
                            позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта.
                            Задача
                            организации, в особенности же начало повседневной работы</p>
                        <p class="slider-text">Черпая вдохновение из ландшафта. Задача организации, в особенности же
                            начало
                            повседневной работы
                            по формированию позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение
                            из
                            ландшафта. Задача организации, в особенности же начало повседневной работы по формированию
                            позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта.
                            Задача
                            организации, в особенности же начало повседневной работы в особенности же начало
                            повседневной
                            работы по формированию позиции влечет за собой процесс внедрения и модернизации.Черпая
                            вдохновение из ландшафта. </p>
                    </div>
                    <div class="readMore" data-more="Читать больше" data-smol="Меньше">
                        <div class="opacityBlock">

                        </div>
                        <span class="AboutBtnText">Читать больше</span>
                    </div>
                </div>

            </div>

            <!--

            <div class="slider-wrapper" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
                <div class="item slider-item">
                    <div class="slider-img">
                        <div class="img-title">
                        </div>
                        <div class="line"></div>
                        <div class="img-wrapper">
                            <img src="../../uploads/UliaBai.jpg" alt="">
                        </div>
                    </div>
                    <p class="slider-title">
                        Юлия Байдык
                    </p>
                    <p class="slider-text">
                        дизайнер интерьера
                    </p>
                </div>
                <div class="slider-content-wrapper">
                    <div class="slider-content">
                        <p class="slider-text">2По формированию позиции влечет за собой процесс внедрения и
                            модернизации.Черпая вдохновение из
                            ландшафта. Задача организации, в особенности же начало повседневной работы по формированию
                            позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта.
                            Задача
                            организации, в особенности же начало повседневной работы по формированию позиции влечет за
                            собой
                            процесс внедрения.</p>
                        <p class="slider-text">Черпая вдохновение из ландшафта. Задача организации, в особенности же
                            начало
                            повседневной работы
                            по формированию позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение
                            из
                            ландшафта.</p>
                        <p class="slider-text">Черпая вдохновение из ландшафта. Задача организации, в особенности же
                            начало
                            повседневной работы
                            по формированию позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение
                            из
                            ландшафта. Задача организации, в особенности же начало повседневной работы по формированию
                            позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта.
                            Задача
                            организации, в особенности же начало повседневной работы в особенности же начало
                            повседневной
                            работы по формированию позиции влечет за собой процесс внедрения и модернизации.Черпая
                            вдохновение из ландшафта. </p>
                    </div>
                    <div class="readMore" data-more="Читать больше" data-smol="Меньше">
                        <div class="opacityBlock">

                        </div>
                        <span class="AboutBtnText">Читать больше</span>
                    </div>
                </div>
            </div>
            <div class="slider-wrapper">
                <div class="item slider-item">
                    <div class="slider-img">
                        <div class="img-title">
                        </div>
                        <div class="line"></div>
                        <div class="img-wrapper">
                            <img src="../../uploads/UliaBai.jpg" alt="">
                        </div>
                    </div>
                    <p class="slider-title">
                        Юлия Байдык
                    </p>
                    <p class="slider-text">
                        дизайнер интерьера
                    </p>
                </div>
                <div class="slider-content-wrapper">
                    <div class="slider-content">
                        <p class="slider-text">3По формированию позиции влечет за собой процесс внедрения и
                            модернизации.Черпая вдохновение из
                            ландшафта. Задача организации, в особенности же начало повседневной работы по формированию
                            позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта.
                            Задача
                            организации, в особенности же начало повседневной работы по формированию позиции влечет за
                            собой
                            процесс внедрения.</p>
                        <p class="slider-text">Черпая вдохновение из ландшафта. Задача организации, в особенности же
                            начало
                            повседневной работы
                            по формированию позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение
                            из
                            ландшафта. Задача организации, в особенности же начало повседневной работы по формированию
                            позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта.
                            Задача
                            организации, в особенности же начало повседневной работы</p>
                        <p class="slider-text">Черпая вдохновение из ландшафта. Задача организации, в особенности же
                            начало
                            повседневной работы
                            по формированию позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение
                            из
                            ландшафта. </p>
                    </div>
                    <div class="readMore" data-more="Читать больше" data-smol="Меньше">
                        <div class="opacityBlock">

                        </div>
                        <span class="AboutBtnText">Читать больше</span>
                    </div>
                </div>

        </div>

                -->
        </div>

        <div class="slider-nav" id="sliderNav">
            <div class="item slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
                <div class="slider-img">
                    <div class="img-title">
                    </div>
                    <div class="line"></div>
                    <div class="img-wrapper">
                        <img src="../../uploads/UliaBai.jpg" alt="">
                    </div>
                </div>
                <p class="slider-title">
                    Юлия Байдык
                </p>
                <p class="slider-text">
                    дизайнер интерьера
                </p>
            </div>
            <div class="item slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
                <div class="slider-img">
                    <div class="img-title">
                    </div>
                    <div class="line"></div>
                    <div class="img-wrapper">
                        <img src="../../uploads/UliaBai.jpg" alt="">
                    </div>
                </div>
                <p class="slider-title">
                    Юлия Байдык
                </p>
                <p class="slider-text">
                    дизайнер интерьера
                </p>
            </div>
            <div class="item slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
                <div class="slider-img">
                    <div class="img-title">
                    </div>
                    <div class="line"></div>
                    <div class="img-wrapper">
                        <img src="../../uploads/UliaBai.jpg" alt="">
                    </div>
                </div>
                <p class="slider-title">
                    Юлия Байдык
                </p>
                <p class="slider-text">
                    дизайнер интерьера
                </p>
            </div>
        </div>
    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>