<% var data = {
    title: "Article | ALTA IDEA",
    logo: ""
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>



<section class="title-img">
  <div class="container">
    <img src="../../uploads/article/article1.jpg" alt="">
    <div style="padding:56.25% 0 0 0;position:relative; display: none;">
      <iframe src="https://player.vimeo.com/video/47641333?background=1&autoplay=1&loop=1&autopause=0"
        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen=""
        mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
    </div>
    <div style="padding:56.25% 0 0 0;position:relative; display: none;">
      <iframe src="https://player.vimeo.com/video/47641333?color=999a9f&title=0&byline=0&portrait=0&loop=1&unmuted=1"
        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
        allowfullscreen></iframe></div>
  </div>
</section>

<section class="article-text">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title">
        название статьи
      </h2>
      <p class="data">
        23.04.2020
      </p>
    </div>
    <div class="text-wrapper" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
      <p class="text">
        Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной работы по формированию
        позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта. Задача организации, в
        особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и
        модернизации.Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной работы из
        ландшафта. Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за
        собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта. Задача организации, в особенности же
        начало повседневной работы
      </p>
      <p class="text">
        По формированию позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта. Задача
        организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс
        внедрения и модернизации.Черпая вдохновение из ландшафта. Задача организации, в особенности же начало
        повседневной работы по формированию позиции влечет за собой процесс внедрения. из ландшафта. Задача организации,
        в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и
        модернизации.Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной работы
      </p>
    </div>
  </div>
</section>

<section class="article-img">
  <div class="container">
    <div class="left-img" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
      <div class="article-item">
        <div class="text-wrapper">
          <div class="article-title">
            <h2 class="title">МИНИМАЛИЗМ </h2>
            <div class="line"></div>
          </div>
          <p class="article-text">Черпать вдохновение в ландшафте. Задача организации, особенно.
          </p>
        </div>
        <div class="item-img">
          <img src="../../uploads/article/article2.jpg" alt="">
          <a href="article.html"></a>
        </div>
      </div>
      <div class="article-item">
        <div class="item-img">
          <img src="../../uploads/article/article3.jpg" alt="">
          <a href="article.html"></a>
        </div>
        <div class="text-wrapper">
          <div class="article-title">
            <h2 class="title">Название статьи</h2>
            <div class="line"></div>
          </div>
          <p class="article-text">Черпать вдохновение в ландшафте. Задача организации.
          </p>
        </div>
      </div>
    </div>
    <div class="right-img" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
      <img src="../../uploads/article/article4.jpg" alt="">
    </div>
    <div class="item-img down-img">
      <img src="../../uploads/article/article3.jpg" alt="">
      <a href="article.html"></a>
    </div>
  </div>
</section>

<section class="article-text">
  <div class="container">
    <div class="text-wrapper" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
      <p class="text">
        Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной работы по формированию
        позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта. Задача организации, в
        особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и
        модернизации.Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной работы из
        ландшафта. Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за
        собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта. Задача организации, в особенности же
        начало повседневной работы
      </p>
      <p class="text">
        По формированию позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта. Задача
        организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс
        внедрения и модернизации.Черпая вдохновение из ландшафта. Задача организации, в особенности же начало
        повседневной работы по формированию позиции влечет за собой процесс внедрения. из ландшафта. Задача организации,
        в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и
        модернизации.Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной работы
      </p>
    </div>
  </div>
</section>


<section class="album">
  <div class="container">
    <a class="img-wrapper" href="../../uploads/article/gal1.jpg" data-fancybox="gallery" data-aos="fade"
      data-aos-delay="100" data-aos-duration="800">
      <img src="../../uploads/article/gal1.jpg" alt="">
      <p></p>
    </a>
    <a class="img-wrapper" href="../../uploads/article/gal2.jpg" data-fancybox="gallery" data-aos="fade"
      data-aos-delay="300" data-aos-duration="800">
      <img src="../../uploads/article/gal2.jpg" alt="">
      <p></p>
    </a>
    <a class="img-wrapper" href="../../uploads/article/gal3.jpg" data-fancybox="gallery" data-aos="fade"
      data-aos-delay="500" data-aos-duration="800">
      <img src="../../uploads/article/gal3.jpg" alt="">
      <p></p>
    </a>
    <a class="img-wrapper" href="../../uploads/article/gal4.jpg" data-fancybox="gallery" data-aos="fade"
      data-aos-delay="700" data-aos-duration="800">
      <img src="../../uploads/article/gal4.jpg" alt="">
      <p></p>
    </a>
    <a class="img-wrapper" href="../../uploads/article/gal5.jpg" data-fancybox="gallery" data-aos="fade"
      data-aos-delay="100" data-aos-duration="800">
      <img src="../../uploads/article/gal5.jpg" alt="">
      <p></p>
    </a>
    <a class="img-wrapper" href="../../uploads/article/gal6.jpg" data-fancybox="gallery" data-aos="fade"
      data-aos-delay="300" data-aos-duration="800">
      <img src="../../uploads/article/gal6.jpg" alt="">
      <p></p>
    </a>
    <a class="img-wrapper" href="../../uploads/article/gal7.jpg" data-fancybox="gallery" data-aos="fade"
      data-aos-delay="500" data-aos-duration="800">
      <img src="../../uploads/article/gal7.jpg" alt="">
      <p></p>
    </a>
    <a class="img-wrapper" href="../../uploads/article/gal8.jpg" data-fancybox="gallery" data-aos="fade"
      data-aos-delay="700" data-aos-duration="800">
      <img src="../../uploads/article/gal8.jpg" alt="">
      <p></p>
    </a>
  </div>
</section>

<section class="more-news">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title">
        БОЛЬше новостей </h2>
    </div>
    <div class="news-wrapper">
      <div class="news-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        <div class="text-wrapper">
          <div class="news-title">
            <h2>Название статьи</h2>
            <div class="line"></div>
          </div>
          <p class="news-text">
            Черпая вдохновение из ландшафта.
          </p>
          <p class="data">
            30.03.20
          </p>
        </div>
        <div class="item-img">
          <img src="../../uploads/news/news5.jpg" alt="">
          <a href="article.html"></a>
        </div>
      </div>
      <div class="news-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        <div class="text-wrapper">
          <div class="news-title">
            <h2>Название статьи</h2>
            <div class="line"></div>
          </div>
          <p class="news-text">
            Черпая вдохновение из ландшафта.
          </p>
          <p class="data">
            30.03.20
          </p>
        </div>
        <div class="item-img">
          <img src="../../uploads/news/news5.jpg" alt="">
          <a href="article.html"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="design-list" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
  <div class="container">
    <ul>
      <li>дизайн интерьера квартиры</li>
      <li>дизайнер киев</li>
      <li>дизайн проект киев</li>
      <li>дизайн интерьера киев</li>
      <li>дизайн интерьера квартиры</li>
      <li>дизайнерин киев</li>
      <li>дизайн проект киев</li>
    </ul>
  </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>