<% var data = {
    title: "Contact | ALTA IDEA",
    logo: ""
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="character">
  <div class="container">
    <ul class="character-wrapper">
      <li class="character-item"><a href=""> <img src="../../img/svg/mail.svg" alt=""> julia.altaidea@gmail.com</a></li>
      <li class="character-item"><a href=""><img src="../../img/svg/phone.svg" alt=""> +38 066 232 7878</a> </li>
      <li class="character-item"><a href=""><img src="../../img/svg/mapB.svg" alt=""> ул. Деловая 1/2 02000 Киев,
          Украина</a> </li>
    </ul>
  </div>
</section>

<form action="">
  <section class="form">
    <div class="container">
      <div class="form-wrapper">
        <h2 class="form-title">
          Благодарим!
        </h2>
        <p class="text">
          Ваш запрос отправлен успешно.
          Мы свяжемся с Вами в ближайшее время.
        </p>
      </div>
    </div>
  </section>
</form>

<%= _.template(require('./../includes/footer.html').default)(data) %>