<% var data = {
    title: "Directions | ALTA IDEA",
    logo: ""
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="directions">
    <div class="container">
        <div class="directions-content">
            <div class="directions-item">
                <div class="direction-title" data-aos="fade" data-aos-delay="200" data-aos-duration="800">
                    <p>
                        Дизайн интерьера
                    </p>
                    <div class="line"></div>
                </div>
                <div class="direction-text">
                    <div class="text" data-aos="fade" data-aos-delay="300" data-aos-duration="800">
                        <p>
                            Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной
                            работы
                            по формированию позиции влечет за собой процесс внедрения и модернизации.
                        </p>
                        <p>Черпая
                            вдохновение из
                            ландшафта. Задача организации, в особенности же начало повседневной
                        </p>
                    </div>
                    <div class="text" data-aos="fade" data-aos-delay="300" data-aos-duration="800">
                        <p>Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной
                            работы
                            по формированию позиции влечет за собой процесс внедрения и модернизации. </p>
                        <blockquote><b>”Черпая
                                вдохновение из ландшафта. Задача организации, в особенности же начало”</b></blockquote>
                    </div>
                </div>
            </div>
            <div class="directions-item">
                <div class="direction-title" data-aos="fade" data-aos-delay="200" data-aos-duration="800">
                    <p>
                        Бюджетирование
                    </p>
                    <div class="line"></div>
                </div>
                <div class="direction-text">
                    <div class="text" data-aos="fade" data-aos-delay="300" data-aos-duration="800">
                        <p>
                            Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной
                            работы по формированию позиции влечет за собой процесс внедрения и модернизации.</p>
                        <p>Черпая
                            вдохновение из ландшафта. Задача организации, в особенности же начало повседневной </p>
                    </div>
                    <div class="text" data-aos="fade" data-aos-delay="300" data-aos-duration="800">
                        <p>Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной.
                            ”Черпая вдохновение из ландшафта. Задача организации, в особенности же начало”</p>
                    </div>
                </div>
            </div>
            <div class="directions-item">
                <div class="direction-title" data-aos="fade" data-aos-delay="200" data-aos-duration="800">
                    <p>
                        Авторский надзор
                    </p>
                    <div class="line"></div>
                </div>
                <div class="direction-text">
                    <div class="text" data-aos="fade" data-aos-delay="300" data-aos-duration="800">
                        <p>
                            Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной
                            работы по формированию позиции влечет за собой процесс внедрения и модернизации.</p>
                        <p>Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной
                        </p>
                    </div>
                    <div class="text" data-aos="fade" data-aos-delay="300" data-aos-duration="800">
                        <p>Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной
                            работы по формированию позиции влечет за собой процесс внедрения и модернизации.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="directions-img" data-aos="fade" data-aos-delay="300" data-aos-duration="800">
            <img src="../../uploads/img1.jpg" alt="">
        </div>
    </div>
</section>

<section class="design-list showNone" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
    <div class="container">
        <ul>
            <li>дизайн интерьера квартиры</li>
            <li>дизайнер киев</li>
            <li>дизайн проект киев</li>
            <li>дизайн интерьера киев</li>
            <li>дизайн интерьера квартиры</li>
            <li>дизайнерин киев</li>
            <li>дизайн проект киев</li>
        </ul>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>