<% var data = {
  title: "Home Page | ALTA IDEA",
  logo: "data-logo='big'"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<section class="project-prev-first index project">
    <div class="container">
        <div class="wrapper-prev">
            <div class="img-wrapper">
                <div style="padding:56.25% 0 0 0;position:relative;">
                    <iframe
                        src="https://player.vimeo.com/video/47641333?background=1&amp;autoplay=1&amp;loop=1&amp;autopause=0"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                        webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
                </div>
            </div>
            <div class="text-wrapper" data-aos="fade" data-aos-duration="400">
                <p class="text" data-aos="fade" data-aos-duration="800" data-aos-delay="550">Черпая вдохновение из
                    ландшафта. Задача организации, в особенности же начало
                    повседневной работы по
                    формированию позиции влечет за собой процесс внедрения и модернизации.</p>
            </div>
        </div>
        <div class="title-prev">
            <p data-aos="fade" data-aos-duration="800" data-aos-delay="150"><span class="fadeing-anime">_</span>Студия
            </p>
            <div class="sub-title">
                <div class="line" data-aos="fade" data-aos-duration="800" data-aos-delay="400"></div>
            </div>
        </div>
        <div class="cookie-wrapper" id="cookie">
            <p>Мы используем файлы cookie, чтобы улучшить работу сайта для Вас. Мы не делимся никакой информацией о
                Вас
                с третьими сторонами, и никогда не будем.</p>
            <div class="close">
                <img src="../../img/svg/close.svg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="sliders first-sliders" data-aos="fade" data-aos-duration="800">
    <div class="container">
        <div class="slider-wrapper slider-first">
            <div class="slider-item slider-line-effect">
                <div class="slider-img">
                    <div class="img-title">
                        <span>Дизайн интерьера</span>
                        <div class="line">
                            <div class="before-line"></div>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="../../uploads/design1.jpg" alt="">
                        <a href=""></a>
                    </div>
                </div>
                <p class="slider-text">
                    Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной работы
                </p>
            </div>
            <div class="slider-item slider-line-effect">
                <div class="slider-img">
                    <div class="img-title">
                        <span>Бюджетирование</span>
                        <div class="line">
                            <div class="before-line"></div>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="../../uploads/design2.jpg" alt="">
                        <a href=""></a>
                    </div>
                </div>
                <p class="slider-text">
                    Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной работы по
                    формированию
                </p>
            </div>
            <div class="slider-item slider-line-effect">
                <div class="slider-img">
                    <div class="img-title">
                        <span>Авторский надзор</span>
                        <div class="line">
                            <div class="before-line"></div>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="../../uploads/design3.jpg" alt="">
                        <a href=""></a>
                    </div>
                </div>
                <p class="slider-text">
                    Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной работы по
                    формированию позиции
                </p>
            </div>

        </div>
        <a href="proects.html" class="mor-button">
            подробнее
        </a>
    </div>
</section>

<section class="project-prev-second project">
    <div class="container">
        <div class="title-prev">
            <div class="sub-title" data-aos="fade" data-aos-duration="800">
                <span>Общественные интерьеры</span>
                <div class="line"></div>
            </div>
            <p data-aos="fade" data-aos-delay="600" data-aos-duration="800">
                Только для джентльменов<span class="fadeing-anime">_</span>
            </p>
        </div>
        <div class="wrapper-prev">
            <div class="text-wrapper">
                <p class="text" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
                    Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной работы по
                    формированию позиции влечет за собой процесс внедрения и модернизации.
                </p>
            </div>
            <div class="img-wrapper">
                <img src="../../uploads/design4.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="sliders" data-aos="fade" data-aos-duration="800">
    <div class="container">
        <div class="slider-wrapper slider-second">
            <div class="slider-item">
                <div class="slider-img">
                    <div class="img-title">
                        <span>Дизайн интерьера</span>
                        <div class="line"></div>
                    </div>
                    <div class="img-wrapper">
                        <img src="../../uploads/design1.jpg" alt="">
                        <a href=""></a>
                    </div>
                </div>
                <p class="slider-text">
                    Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной работы
                </p>
            </div>
            <div class="slider-item">
                <div class="slider-img">
                    <div class="img-title">
                        <span>Бюджетирование</span>
                        <div class="line"></div>
                    </div>
                    <div class="img-wrapper">
                        <img src="../../uploads/design2.jpg" alt="">
                        <a href=""></a>
                    </div>
                </div>
                <p class="slider-text">
                    Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной работы по
                    формированию
                </p>
            </div>
        </div>
    </div>
</section>

<section class="galery">
    <div class="container">
        <div class="title-wrapper">
            <h2 class="title" data-aos="fade" data-aos-duration="800">
                Галерея
            </h2>
        </div>
        <div class="galery-wrapper">
            <a href="proect.html" class="galery-item " data-aos="fade" data-aos-delay="300" data-aos-duration="800">
                <img src="../../uploads/galery1.jpg" alt="">
                <p class="content galery-first">
                    Описание
                </p>
            </a>
            <a href="proect.html" class="galery-item" data-aos="fade" data-aos-delay="400" data-aos-duration="800">
                <img src="../../uploads/galery2.jpg" alt="">
                <p class="content">
                    Описание
                </p>
            </a>
            <a href="proect.html" class="galery-item" data-aos="fade" data-aos-delay="500" data-aos-duration="800">
                <img src="../../uploads/galery3.jpg" alt="">
                <p class="content">
                    Описание
                </p>
            </a>
            <a href="proect.html" class="galery-item" data-aos="fade" data-aos-delay="600" data-aos-duration="800">
                <img src="../../uploads/galery4.jpg" alt="">
                <p class="content">
                    Описание
                </p>
            </a>
            <a href="#" class="galery-item" data-aos="fade" data-aos-delay="700" data-aos-duration="800">
                <img src="../../uploads/galery5.jpg" alt="">
                <p class="content">
                    Описание
                </p>
            </a>
            <a href="#" class="galery-item" data-aos="fade" data-aos-delay="800" data-aos-duration="800">
                <img src="../../uploads/galery6.jpg" alt="">
                <p class="content">
                    Описание
                </p>
            </a>
        </div>
        <div class="mor-button" data-aos="fade" data-aos-delay="900" data-aos-duration="800">
            <a href="proects.html">
                Больше
            </a>
        </div>
    </div>
</section>

<section class="news">
    <div class="container">
        <div class="title-wrapper">
            <h2 class="title" data-aos="fade" data-aos-duration="800">
                новости
            </h2>
        </div>
        <div class="news-wrapper">
            <div class="news-content">
                <div class="news-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
                    <div class="text-wrapper">
                        <div class="news-title">
                            <h2>Название статьи</h2>
                            <p class="data">
                                30.03.20
                            </p>
                            <div class="line"></div>
                        </div>
                        <p class="news-text">
                            Черпать вдохновение в ландшафте. Задача организации, особенно начало ежедневной работы по
                            формированию должности, влечет за собой процесс внедрения и модернизации.
                        </p>
                    </div>
                    <div class="item-img">
                        <img src="../../uploads/news1.jpg" alt="">
                        <a href="news.html"></a>
                    </div>
                </div>
                <div class="news-item" data-aos="fade" data-aos-delay="400" data-aos-duration="800">
                    <div class="text-wrapper">
                        <div class="news-title">
                            <h2>Название статьи</h2>
                            <p class="data">
                                30.03.20
                            </p>
                            <div class="line"></div>
                        </div>
                        <p class="news-text">
                            Черпать вдохновение в ландшафте. Задача организации, особенно начало ежедневной работы по
                            формированию должности, влечет за собой.
                        </p>
                    </div>
                    <div class="item-img">
                        <img src="../../uploads/news2.jpg" alt="">
                        <a href="news.html"></a>
                    </div>
                </div>
                <div class="news-item " data-aos="fade" id="HoverText" data-aos-delay="600" data-aos-duration="800">
                    <div class="text-wrapper">
                        <div class="news-title">
                            <h2>Название статьи</h2>
                            <p class="data">
                                30.03.20
                            </p>
                            <div class="line"></div>
                        </div>
                        <p class="news-text">
                            Черпать вдохновение в ландшафте. Задача организации, особенно начало ежедневной работы по
                            формированию должности, влечет за собой процесс внедрения и модернизации.
                        </p>
                    </div>
                </div>
            </div>
            <div class="news-img" id="HoverImg" data-aos="fade" data-aos-delay="600" data-aos-duration="800">
                <img src="../../uploads/news3.jpg" alt="">
                <a href="news.html"></a>
            </div>
        </div>
        <a href="news.html" class="mor-button" data-aos="fade" data-aos-delay="700" data-aos-duration="800">
            Больше
        </a>
    </div>
</section>

<section class="about">
    <div class="container" id="aboutMain">
        <div class="title-wrapper">
            <h2 class="title" data-aos="fade" data-aos-duration="800">
                о нас
            </h2>
        </div>
        <div class="wrap-text">
            <div class="text" data-aos="fade" data-aos-delay="200" data-aos-duration="800">
                <p>Черпая вдохновение из пейзажа. Задача организации, особенно начало ежедневной работы по
                    формированию должности, влечет за собой процесс внедрения и модернизации. Черпая вдохновение из
                    пейзажа.
                    Задача организации, особенно начало ежедневной работы по формированию должности, влечет за собой
                    процесс
                    внедрения и модернизации.</p>
                <p>Черпая вдохновение из пейзажа. Задача организации, особенно начало ежедневной работы по формированию
                    должности, влечет за собой процесс внедрения и модернизации.Черпая вдохновение из пейзажа.
                </p>
                <p> Задача организации, особенно начало ежедневной работы по формированию должности, влечет за собой
                    процесс
                    внедрения и модернизации. организации, особенно начало ежедневной работы по формированию должности,
                    влечет за собой процесс внедрения и модернизации. организации, особенно начало ежедневной работы по
                </p>
            </div>
            <div class="text" data-aos="fade" data-aos-delay="400" data-aos-duration="800">
                <p>Черпая вдохновение из пейзажа. Задача организации, особенно начало ежедневной работы по
                    формированию должности, влечет за собой процесс внедрения и модернизации. Черпая вдохновение из
                    пейзажа.
                    Задача организации, особенно начало ежедневной работы по формированию должности, влечет за собой
                    процесс
                    внедрения и модернизации. Черпая вдохновение из пейзажа. Задача организации, особенно начало
                    ежедневной
                    работы по формированию должности, влечет за собой процесс внедрения и модернизации.Черпая
                    вдохновение из
                    пейзажа.
                </p>
                <p> Задача организации, особенно начало ежедневной работы по формированию должности, влечет за собой
                    процесс
                    внедрения и модернизации.Черпая вдохновение из Задача организации, особенно начало ежедневной работы
                    по
                    формированию должности, влечет за собой процесс внедрения и модернизации.Черпая вдохновение изЗадача
                    организации, особенно начало ежедневной работы по
                </p>
            </div>
            <div class="text" data-aos="fade" data-aos-delay="600" data-aos-duration="800">
                <p>Черпая вдохновение из пейзажа. Задача организации, особенно начало ежедневной работы по
                    формированию должности, влечет за собой процесс внедрения и модернизации. Черпая вдохновение из
                    пейзажа.
                    Задача организации, особенно начало ежедневной работы по формированию должности, влечет за собой
                    процесс
                    внедрения и модернизации. Черпая вдохновение из пейзажа. Задача организации, особенно начало
                    ежедневной
                    работы по формированию должности, влечет за собой процесс внедрения и модернизации.Черпая
                    вдохновение из
                    пейзажа. вдохновение от пейзажа. Задача организации, особенно начало ежедневной работы по
                    формированию
                    должности, влечет за собой процесс внедрения и модернизации.
                </p>
                <p> Черпая вдохновение из пейзажа.Черпая
                    вдохновение из новение из пейзажа.Черпая вдохновение из Черпая вдохновение из пейзажа.Черпая
                    вдохновение из новение из пейзажа.Черпая вдохновение из
                </p>
            </div>
        </div>
        <div class="readMore" data-more="Читать больше" data-smol="Меньше">
            <div class="opacityBlock">

            </div>
            <span class="AboutBtnText">Читать больше</span>
        </div>
    </div>
</section>

<section class="design-list" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
    <div class="container">
        <ul>
            <li>дизайн интерьера квартиры</li>
            <li>дизайнер киев</li>
            <li>дизайн проект киев</li>
            <li>дизайн интерьера киев</li>
            <li>дизайн интерьера квартиры</li>
            <li>дизайнерин киев</li>
            <li>дизайн проект киев</li>
        </ul>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>