<% var data = {
    title: "News | ALTA IDEA",
    logo: ""
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="news-wrapper">
  <div class="container">
    <a href="article.html" class="news-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
      <div class="text-wrapper">
        <div class="news-title">
          <h2>Название статьи</h2>
          <div class="line"></div>
        </div>
        <p class="news-text">
          Черпая вдохновение из ландшафта.
        </p>
        <p class="data">
          30.03.20
        </p>
      </div>
      <div class="item-img">
        <img src="../../uploads/news/news2.jpg" alt="">
        <p class="hover" href="article.html"></p>
      </div>
    </a>
    <a href="article.html" class="news-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
      <div class="text-wrapper">
        <div class="news-title">
          <h2>Название статьи</h2>
          <div class="line"></div>
        </div>
        <p class="news-text">
          Черпая вдохновение из ландшафта.
        </p>
        <p class="data">
          30.03.20
        </p>
      </div>
      <div class="item-img">
        <img src="../../uploads/news/news1.jpg" alt="">
        <p class="hover"></p>
      </div>
    </a>
    <a href="article.html" class="news-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
      <div class="text-wrapper">
        <div class="news-title">
          <h2>Название статьи</h2>
          <div class="line"></div>
        </div>
        <p class="news-text">
          Черпая вдохновение из ландшафта.
        </p>
        <p class="data">
          30.03.20
        </p>
      </div>
      <div class="item-img">
        <img src="../../uploads/news/news4.jpg" alt="">
        <p class="hover"></p>
      </div>
    </a>
    <a href="article.html" class="news-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
      <div class="text-wrapper">
        <div class="news-title">
          <h2>Название статьи</h2>
          <div class="line"></div>
        </div>
        <p class="news-text">
          Черпая вдохновение из ландшафта.
        </p>
        <p class="data">
          30.03.20
        </p>
      </div>
      <div class="item-img">
        <img src="../../uploads/news/news3.jpg" alt="">
        <p class="hover"></p>
      </div>
    </a>
    <a href="article.html" class="news-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
      <div class="text-wrapper">
        <div class="news-title">
          <h2>Название статьи</h2>
          <div class="line"></div>
        </div>
        <p class="news-text">
          Черпая вдохновение из ландшафта.
        </p>
        <p class="data">
          30.03.20
        </p>
      </div>
      <div class="item-img">
        <img src="../../uploads/news/news6.jpg" alt="">
        <p class="hover"></p>
      </div>
    </a>
    <a href="article.html" class="news-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
      <div class="text-wrapper">
        <div class="news-title">
          <h2>Название статьи</h2>
          <div class="line"></div>
        </div>
        <p class="news-text">
          Черпая вдохновение из ландшафта.
        </p>
        <p class="data">
          30.03.20
        </p>
      </div>
      <div class="item-img">
        <img src="../../uploads/news/news5.jpg" alt="">
        <p class="hover"></p>
      </div>
    </a>
  </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>