<% var data = {
    title: "Proects | ALTA IDEA",
    logo: ""
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="galery">
  <div class="container">
    <div class="galery-wrapper">
      <a href="proect.html" id="anchor-1" class="galery-item" data-aos="fade" data-aos-delay="100"
        data-aos-duration="800">
        <img src="../../uploads/galery1.jpg" alt="">
        <p class="content">
          Описание
        </p>
      </a>
      <a href="proect.html" class="galery-item" data-aos="fade" data-aos-delay="300" data-aos-duration="800">
        <img src="../../uploads/galery2.jpg" alt="">
        <p class="content">
          Описание
        </p>
      </a>
      <a href="proect.html" class="galery-item" data-aos="fade" data-aos-delay="500" data-aos-duration="800">
        <img src="../../uploads/galery3.jpg" alt="">
        <p class="content">
          Описание
        </p>
      </a>

      <a href="proect.html" id="anchor-2" class="galery-item" data-aos="fade" data-aos-delay="700"
        data-aos-duration="800">
        <img src="../../uploads/galery4.jpg" alt="">
        <p class="content">
          Описание
        </p>
      </a>
      <a href="proect.html" class="galery-item" data-aos="fade" data-aos-delay="900" data-aos-duration="800">
        <img src="../../uploads/galery5.jpg" alt="">
        <p class="content">
          Описание
        </p>
      </a>
      <a href="proect.html" class="galery-item" data-aos="fade" data-aos-delay="1100" data-aos-duration="800">
        <img src="../../uploads/galery6.jpg" alt="">
        <p class="content">
          Описание
        </p>
      </a>

      <a href="proect.html" id="anchor-3" class="galery-item" data-aos="fade" data-aos-delay="100"
        data-aos-duration="800">
        <img src="../../uploads/galery1.jpg" alt="">
        <p class="content">
          Описание
        </p>
      </a>
      <a href="proect.html" class="galery-item" data-aos="fade" data-aos-delay="300" data-aos-duration="800">
        <img src="../../uploads/galery2.jpg" alt="">
        <p class="content">
          Описание
        </p>
      </a>
      <a href="proect.html" class="galery-item" data-aos="fade" data-aos-delay="500" data-aos-duration="800">
        <img src="../../uploads/galery3.jpg" alt="">
        <p class="content">
          Описание
        </p>
      </a>

      <a href="proect.html" id="anchor-4" class="galery-item" data-aos="fade" data-aos-delay="700"
        data-aos-duration="800">
        <img src="../../uploads/galery4.jpg" alt="">
        <p class="content">
          Описание
        </p>
      </a>
      <a href="proect.html" class="galery-item" data-aos="fade" data-aos-delay="900" data-aos-duration="800">
        <img src="../../uploads/galery5.jpg" alt="">
        <p class="content">
          Описание
        </p>
      </a>
      <a href="proect.html" class="galery-item" data-aos="fade" data-aos-delay="1100" data-aos-duration="800">
        <img src="../../uploads/galery6.jpg" alt="">
        <p class="content">
          Описание
        </p>
      </a>
    </div>


  </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>