<% var data = {
    title: "Proect | ALTA IDEA",
    logo: ""
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="project-prev-second proect project   chowerTextBlock">
    <div class="container">
        <!-- <div class="title-prev">
            <div class="sub-title" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
                <span>Общественные интерьеры</span>
                <div class="line"></div>
            </div>
            <p data-aos="fade" data-aos-delay="500" data-aos-duration="800">
                Только для джентльменов<span>_</span>
            </p>
        </div>
        <div class="wrapper-prev">
            <div class="text-wrapper">
                <p class="text" data-aos="fade" data-aos-delay="600" data-aos-duration="800">Черпая вдохновение из
                    ландшафта. Задача организации, в особенности же начало
                    повседневной работы по
                    формированию позиции влечет за собой процесс внедрения и модернизации.</p>
            </div>
            <div class="img-wrapper">
                <img src="../../uploads/proect1.jpg" alt="">
            </div>
        </div> -->
        <!-- <div class="title-prev" style="display: none;">
            <div class="sub-title" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
                <span>Общественные интерьеры</span>
                <div class="line"></div>
            </div>
            <p data-aos="fade" data-aos-delay="500" data-aos-duration="800">
                Только для джентльменов<span>_</span>
            </p>
        </div> -->
        <!-- <div class="wrapper-prev" style="display: none;">
            <div class="text-wrapper">
                <p class="text" data-aos="fade" data-aos-delay="600" data-aos-duration="800">Черпая вдохновение из
                    ландшафта. Задача организации, в особенности же начало
                    повседневной работы по
                    формированию позиции влечет за собой процесс внедрения и модернизации.</p>
            </div>
            <div class="img-wrapper">
                <div style="padding:56.25% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/47641333?background=1&autoplay=1&loop=1&autopause=0"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                        webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
                </div>
            </div>
        </div> -->
        <div class="title-prev">
            <div class="sub-title" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
                <span>Общественные интерьеры</span>
                <div class="line"></div>
            </div>
            <p data-aos="fade" data-aos-delay="500" data-aos-duration="800">
                Только для джентльменов<span class="fadeing-anime">_</span>
            </p>
        </div>
        <div class="wrapper-prev">
            <div class="text-wrapper">
                <p class="text" data-aos="fade" data-aos-delay="600" data-aos-duration="800">Черпая вдохновение из
                    ландшафта. Задача организации, в особенности же начало
                    повседневной работы по
                    формированию позиции влечет за собой процесс внедрения и модернизации.</p>
            </div>
            <div class="img-wrapper">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe id="muted"
                        src="https://player.vimeo.com/video/47641333?color=999a9f&title=0&byline=0&portrait=0&loop=1&unmuted=1"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                        allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            </div>
        </div>
        <ul class="character-wrapper">
            <li class="character-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800"> <img
                    src="../../img/svg/map.svg" alt=""> Киев, Украина</li>
            <li class="character-item" data-aos="fade" data-aos-delay="200" data-aos-duration="800"> <img
                    src="../../img/svg/size.svg" alt=""> 200 м2</li>
            <li class="character-item" data-aos="fade" data-aos-delay="300" data-aos-duration="800"> <img
                    src="../../img/svg/state.svg" alt=""> проект реализован</li>
            <li class="character-item" data-aos="fade" data-aos-delay="400" data-aos-duration="800"> <img
                    src="../../img/svg/photo.svg" alt=""> Андрей Авдеенко</li>
        </ul>
        <div class="prev-text" data-aos="fade" data-aos-delay="500" data-aos-duration="800">
            <p>Черпая вдохновение из ландшафта. Задача организации, в особенности же начало повседневной работы по
                формированию позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта.
                Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой
                процесс внедрения и модернизации.Черпая вдохновение из ландшафта. Задача организации, в особенности же
                начало повседневной работы</p>
            <p>По формированию позиции влечет за собой процесс внедрения и модернизации.Черпая вдохновение из ландшафта.
                Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой
                процесс внедрения и модернизации.Черпая вдохновение из ландшафта. Задача организации, в особенности же
                начало повседневной работы по формированию позиции влечет за собой процесс внедрения.</p>
        </div>
        <div class="readMore" data-more="подробнее" data-smol="меньше">
            <div class="opacityBlock">

            </div>
            <span class="AboutBtnText">подробнее</span>
        </div>
    </div>
</section>
<section class="galeries">
    <div class="container">
        <a href="../../uploads/proect2.jpg" class="galeries-img" data-fancybox="gallery"><img
                src="../../uploads/proect2.jpg" alt="" data-aos="fade" data-aos-delay="500" data-aos-duration="800"></a>
        <a href="../../uploads/proect3.jpg" class="galeries-img" data-fancybox="gallery"><img
                src="../../uploads/proect3.jpg" alt="" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        </a>
        <a href="../../uploads/proect4.jpg" class="galeries-img" data-fancybox="gallery"><img
                src="../../uploads/proect4.jpg" alt="" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        </a>
        <a href="../../uploads/proect5.jpg" class="galeries-img" data-fancybox="gallery"><img
                src="../../uploads/proect5.jpg" alt="" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        </a>
        <a href="../../uploads/proect6.jpg" class="galeries-img" data-fancybox="gallery"><img
                src="../../uploads/proect6.jpg" alt="" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        </a>
        <a href="../../uploads/proect7.jpg" class="galeries-img" data-fancybox="gallery"><img
                src="../../uploads/proect7.jpg" alt="" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        </a>
        <a href="../../uploads/proect8.jpg" class="galeries-img" data-fancybox="gallery"><img
                src="../../uploads/proect8.jpg" alt="" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        </a>
        <a href="../../uploads/proect9.jpg" class="galeries-img" data-fancybox="gallery"><img
                src="../../uploads/proect9.jpg" alt="" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        </a>
        <a href="../../uploads/proect10.jpg" class="galeries-img" data-fancybox="gallery"><img
                src="../../uploads/proect10.jpg" alt="" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        </a>
        <a href="../../uploads/proect11.jpg" class="galeries-img" data-fancybox="gallery"><img
                src="../../uploads/proect11.jpg" alt="" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        </a>
        <a href="../../uploads/proect12.jpg" class="galeries-img" data-fancybox="gallery"><img
                src="../../uploads/proect12.jpg" alt="" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        </a>
        <a href="../../uploads/proect13.jpg" class="galeries-img" data-fancybox="gallery"><img
                src="../../uploads/proect13.jpg" alt="" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        </a>
        <a href="../../uploads/proect14.jpg" class="galeries-img" data-fancybox="gallery"> <img
                src="../../uploads/proect14.jpg" alt="" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
        </a>
    </div>
</section>

<section class="plans">
    <div class="container">
        <div class="plan-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
            <p class="plan-title">
                план первого этажа
            </p>
            <a href="../../uploads/plan1.png" class="plan-img" data-fancybox="gallery">
                <img src="../../uploads/plan1.png" alt="">
            </a>
        </div>
        <div class="plan-item" data-aos="fade" data-aos-delay="300" data-aos-duration="800">
            <p class="plan-title">
                план первого этажа
            </p>
            <a href="../../uploads/plan2.png" class="plan-img" data-fancybox="gallery">
                <img src="../../uploads/plan2.png" alt="">
            </a>
        </div>
        <div class="plan-item" data-aos="fade" data-aos-delay="500" data-aos-duration="800">
            <p class="plan-title">
                Разрез
            </p>
            <a href="../../uploads/plan3.png" class="plan-img" data-fancybox="gallery">
                <img src="../../uploads/plan3.png" alt="">
            </a>
        </div>
    </div>
</section>

<section class="more-proect">
    <div class="container">
        <div class="title-wrapper">
            <h2 class="title">
                БОЛЬше проектов
            </h2>
        </div>
        <div class="projects-wrapper slider-proect">
            <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
                <div class="slider-img">
                    <div class="img-title">
                        <span>аффект</span>
                        <div class="line"></div>
                    </div>
                    <div class="img-wrapper">
                        <img src="../../uploads/project1.jpg" alt="">
                        <a href=""></a>
                    </div>
                </div>
                <p class="slider-text">
                    Черпать вдохновение в ландшафте. Задача организации, особенно начало повседневной работы</p>
            </div>
            <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
                <div class="slider-img">
                    <div class="img-title">
                        <span>Быть ярким</span>
                        <div class="line"></div>
                    </div>
                    <div class="img-wrapper">
                        <img src="../../uploads/project2.jpg" alt="">
                        <a href=""></a>
                    </div>
                </div>
                <p class="slider-text">
                    Черпать вдохновение в ландшафте. Задача организации, особенно начало повседневной работы</p>
            </div>
        </div>
    </div>
</section>

<section class="design-list" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
    <div class="container">
        <ul>
            <li>дизайн интерьера квартиры</li>
            <li>дизайнер киев</li>
            <li>дизайн проект киев</li>
            <li>дизайн интерьера киев</li>
            <li>дизайн интерьера квартиры</li>
            <li>дизайнерин киев</li>
            <li>дизайн проект киев</li>
        </ul>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>