<% var data = {
    title: "Publication | ALTA IDEA",
    logo: ""
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="publication">

    <div class="container">
        <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
            <div class="slider-img">
                <div class="img-title">
                    <span>ELLE DECORATION</span>
                    <div class="line"></div>
                </div>
                <div class="img-wrapper">
                    <img src="../../uploads/design1.jpg" alt="">

                    <a href=""></a>
                </div>
            </div>
            <p class="slider-text">
                Черпая вдохновение из ландшафта. Задача организации, в особенности же начало</p>
        </div>
        <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
            <div class="slider-img">
                <div class="img-title">
                    <span>ID INTERIOR DESIGN</span>
                    <div class="line"></div>
                </div>
                <div class="img-wrapper">
                    <img src="../../uploads/publication2.jpg" alt="">

                    <a href=""></a>
                </div>
            </div>
            <p class="slider-text">Черпая вдохновение из ландшафта. Задача организации, в особенности же начало</p>
        </div>
        <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
            <div class="slider-img">
                <div class="img-title">
                    <span>PRIMA INTERIOR</span>
                    <div class="line"></div>
                </div>
                <div class="img-wrapper">
                    <img src="../../uploads/publication3.jpg" alt="">
                    <a href=""></a>
                </div>
            </div>
            <p class="slider-text">Черпая вдохновение из ландшафта.Задача организации, в особенности же начало</p>
        </div>
        <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
            <div class="slider-img">
                <div class="img-title">
                    <span>ELLE DECORATION</span>
                    <div class="line"></div>
                </div>
                <div class="img-wrapper">
                    <img src="../../uploads/publication1.jpg" alt="">

                    <a href=""></a>
                </div>
            </div>
            <p class="slider-text">
                Черпая вдохновение из ландшафта. Задача организации, в особенности же начало</p>
        </div>
        <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
            <div class="slider-img">
                <div class="img-title">
                    <span>ID INTERIOR DESIGN</span>
                    <div class="line"></div>
                </div>
                <div class="img-wrapper">
                    <img src="../../uploads/publication2.jpg" alt="">

                    <a href=""></a>
                </div>
            </div>
            <p class="slider-text">Черпая вдохновение из ландшафта. Задача организации, в особенности же начало</p>
        </div>
        <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
            <div class="slider-img">
                <div class="img-title">
                    <span>PRIMA INTERIOR</span>
                    <div class="line"></div>
                </div>
                <div class="img-wrapper">
                    <img src="../../uploads/publication3.jpg" alt="">

                    <a href=""></a>
                </div>
            </div>
            <p class="slider-text">Черпая вдохновение из ландшафта.Задача организации, в особенности же начало</p>
        </div>
        <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
            <div class="slider-img">
                <div class="img-title">
                    <span>ELLE DECORATION</span>
                    <div class="line"></div>
                </div>
                <div class="img-wrapper">
                    <img src="../../uploads/publication1.jpg" alt="">

                    <a href=""></a>
                </div>
            </div>
            <p class="slider-text">
                Черпая вдохновение из ландшафта. Задача организации, в особенности же начало</p>
        </div>
        <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
            <div class="slider-img">
                <div class="img-title">
                    <span>ID INTERIOR DESIGN</span>
                    <div class="line"></div>
                </div>
                <div class="img-wrapper">
                    <img src="../../uploads/publication2.jpg" alt="">

                    <a href=""></a>
                </div>
            </div>
            <p class="slider-text">Черпая вдохновение из ландшафта. Задача организации, в особенности же начало</p>
        </div>
        <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
            <div class="slider-img">
                <div class="img-title">
                    <span>PRIMA INTERIOR</span>
                    <div class="line"></div>
                </div>
                <div class="img-wrapper">
                    <img src="../../uploads/publication3.jpg" alt="">
                    <a href=""></a>
                </div>
            </div>
            <p class="slider-text">Черпая вдохновение из ландшафта.Задача организации, в особенности же начало</p>
        </div>
        <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
            <div class="slider-img">
                <div class="img-title">
                    <span>ELLE DECORATION</span>
                    <div class="line"></div>
                </div>
                <div class="img-wrapper">
                    <img src="../../uploads/publication1.jpg" alt="">

                    <a href=""></a>
                </div>
            </div>
            <p class="slider-text">
                Черпая вдохновение из ландшафта. Задача организации, в особенности же начало</p>
        </div>
        <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
            <div class="slider-img">
                <div class="img-title">
                    <span>ID INTERIOR DESIGN</span>
                    <div class="line"></div>
                </div>
                <div class="img-wrapper">
                    <img src="../../uploads/publication2.jpg" alt="">

                    <a href=""></a>
                </div>
            </div>
            <p class="slider-text">Черпая вдохновение из ландшафта. Задача организации, в особенности же начало</p>
        </div>
        <div class="slider-item" data-aos="fade" data-aos-delay="100" data-aos-duration="800">
            <div class="slider-img">
                <div class="img-title">
                    <span>PRIMA INTERIOR</span>
                    <div class="line"></div>
                </div>
                <div class="img-wrapper">
                    <img src="../../uploads/publication3.jpg" alt="">

                    <a href=""></a>
                </div>
            </div>
            <p class="slider-text">Черпая вдохновение из ландшафта.Задача организации, в особенности же начало</p>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>