$default-font: 'Arsenal', sans-serif;
$title-font: 'Century Gothic', sans-serif;
$sub-font: 'Roboto', sans-serif;
$transition: all .3s linear 0s;

$greyL:  #C4C4C4;
$grey: #a3a3a3;
$greyD: #737373;
$greyBg:#999A9F;
$greyList: #9F9F9F;
$black: #000;
$blackL: #1A1A1A;
$white: #fff;
$contactBtn: #252525;